header {
    margin-bottom: 5rem;
    padding-bottom: 1rem;
    font-family: Century Gothic;
    color: #e60303;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    width: auto;
    height: 80px;
    position: relative;
    border-bottom: 2px solid #ffffff;
}

li a:hover {
    background-color: #fff;
    color: #000;
}

li a {
    background-color: rgba(207, 26, 26, 0);
    border: none;
    border-radius: 2%;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 10px;
}

li a {
    -webkit-transition-duration: 1s;
    transition-duration: 0.7s;
}